<div class="nav">
    <h1>Listas de productos y precios</h1>
</div>

<div class="btn">
<button mat-button color="primary" (click)="mostrarVista()">{{ mostrarLista ? 'Ocultar Lista' : 'Mostrar Lista'}}</button>
</div>
<div class="wraper" *ngIf="mostrarLista" style="display: flex;">
    <table class="table">
        <tr class="encabezado">
            <td>NOMBRES</td>
            <td>COSTOS</td>
        </tr>
        <tr *ngFor="let producto of productService.productos">
            <td>{{producto.nombres}}</td>
            <td>{{producto.costos}}</td>
        </tr>
    </table>
</div>
